/* .nav-item a{
    list-style: none;
    text-decoration: none;
    padding: 20px 25px;
    color:white;
    display:block;
    font-size: 20px;
    font-weight: 700;
}
.nav-item a:hover{
    color:sienna;
    transition:all 0.30s ease-in-out;
}
.nav-item a:active {
    color: sienna;
} */

.row{
    background-color: peru;
    height: auto;
}

.form-control{
    border-radius: 3px;
}

.nav-link{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 20px;
}
.nav-item a:hover{
    color:sienna;
    transition:all 0.30s ease-in-out;
}

.dropdown-menu{
    float: right;
}



