/*font-family: 'Comfortaa', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Playpen Sans', cursive;*/
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}




.container .row .col-sm-8 img{
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
}

.hot-news{
  
  
  text-align: center;
  border-color: #cd9b32;
  border-width: 10px;
  border-style: double;
  width: 85%;
  margin: 20px;
  padding: 20px;
}
.short-news{
  display: block;
  width: 150px;
  height: 300px;
}
.link-list{

  text-align: center;
  border-color: #cd9b32;
  border-width: 10px;
  border-style: double;
  width: 85%;
  margin: 20px;
  padding: 20px;
}
.row .hot-news img{
  width: 100%;
  object-position:center;
}
.link{
  margin: 20px;
}
#fm-name{
  text-align: center;
  color: black;
  margin-top: 20px;
}

/* phần danh sách tin tức */
.box-news{
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}

.list-news{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.fm-news{
  text-decoration: none;
  color: black;
}
.box-img-news.box-text{
  display: inline-block;
}